body{
    background-color: rgb(46, 50, 60);
    display: grid;
    place-items: center;
 margin-top: 120px;
}
#box1{
    overflow: hidden;
    position:relative;
    background-color: rgba(37, 96, 144, 0.575);
    width: 300px;
    margin: 0 auto;
    height: 300px;
    border-radius: 50%;
}
#umb1{
    width: 6px;
    margin-top:20px ;
    height: 20px;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}
#umb2{
    width: 40px;
    margin-top:40px ;
    height: 150px;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 0, 0);
   
}
#umb2:hover{
    width: 150px;
    box-shadow: 1px 100px 1px 10px black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}
#shadow{
    background-color: rgba(35, 18, 18, 0.301);
    width: 150px;
    height: 270px;
    margin-top: 115px;
   left: 25%;
    position:absolute;
}
#umb3{
    width: 40px;
    margin-top:190px ;
    height: 28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(64, 59, 59);
}
#stickBlack{
    width: 6px;
    height: 12px;
    position: absolute;
    left:49%;
    margin-top: 218px;
    background-color: black;
}
#stickWhite{
    width: 6px;
    height: 4px;
    position: absolute;
    left:49%;
    margin-top: 230px;
    background-color: rgb(255, 255, 255);
}
#stickC{
    width: 30px;
    height: 30px;
    position: absolute;
    left:49%;
    margin-top: 230px;
    border-bottom: 6px solid white;
    border-left: 6px solid white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}